{%extends "ChassorCoreBundle::layout-red.html.twig" %}

{% block content %}
        <p class="titre"><img src="{{ asset('bundles/chassorcore/img/home_titre.png') }}" /></p>
        <div class="texte">
        <p>Chassor est une <strong>chasse au trésor géante</strong> organisée dans l'agglomération Rouennaise pendant l'été 2013. <strong>&Agrave; partir du 1er juillet</strong>, lancez-vous à la recherche du trésor <strong>caché quelque part dans l'agglo.</strong></p>
        <p>Sur ce site vous retrouverez <strong>plus d'une vingtaine d'énigmes</strong> qui vous entraineront aux quatre coins de la ville à la découverte de lieux historiques, insolites et parfois méconnus.</p>
        <p>Pour réussir il vous faudra chercher, décoder, réfléchir, vous déplacer, vous tromper parfois. Seul <strong>le meilleur</strong> d'entre-vous, le plus rapide, le plus malin mettra la main sur le trésor.</p>
        <p>Avis aux curieux, aux passionnés d'histoires, aux amateurs de casse-tête, aux amoureux de Rouen, aux résolveurs d'énigmes, à tous ceux qui veulent s'amuser cet été : <strong>Chassor débarque à Rouen.</strong></p>
    </div>
    
    {% if not is_granted("ROLE_USER") %}
    <div class="linksContainer">
        <a href="{{ path('fos_user_registration_register') }}" class="go"><span><strong>5</strong>&euro;</span>
            Créer mon compte
            <img src="{{ asset('bundles/chassorcore/img/home_links_a_arrow.png') }}" class="arrow" /></a>
        <a href="{{ path('apropos') }}" class="more"><img src="{{ asset('bundles/chassorcore/img/home_links_a_more_arrow.png') }}" class="arrow" />
            En savoir plus sur Chassor</a>
        <div class="clearfix"></div>
    </div>
    <p class="why">
        <a href="#" class="box">Pourquoi l'inscription à Chassor est-elle payante ?
        <span>
        <strong>Pour faire un chouette trésor !</strong><br/>
        Le trésor de Chassor est financé par vos inscriptions ! Comme pour une loterie, plus il y a de joueurs, plus le gain est important !
        <img src="{{ asset('bundles/chassorcore/img/box_onglet.png') }}" />
        </span>
        </a>
    </p>
    {% endif %}

{% endblock content %}

