{%extends "ChassorCoreBundle::layout-red.html.twig" %}

{% block content %}
<div class="textContent">
   
   <h1>Partenaires</h1>
   
   <div class="whitebloc">
   <a href="http://www.rouentourisme.com" target="_blank" class="partner">
       <img src="{{ asset('bundles/chassorcore/img/partners_logo_office.gif') }}" 
           alt="www.rouentourisme.com" /></a>
   <a href="http://www.madeforweb.fr" target="_blank" class="partner">
       <img src="{{ asset('bundles/chassorcore/img/partners_logo_mfw.gif') }}"
           alt="www.madeforweb.fr" /></a>
   <a href="http://www.gsaaudiovisuel.com" target="_blank" class="partner">
       <img src="{{ asset('bundles/chassorcore/img/partners_logo_gsa.gif') }}" 
           alt="www.gsaaudiovisuel.com" /></a>
   <a href="http://www.coterouen.fr" target="_blank" class="partner">
       <img src="{{ asset('bundles/chassorcore/img/partners_logo_coterouen.gif') }}"
           alt="www.coterouen.fr" /></a>
   <a href="http://autoecoledurondpoint.com" target="_blank" class="partner">
       <img src="{{ asset('bundles/chassorcore/img/partners_logo_aerp.gif') }}" 
           alt="autoecoledurondpoint.com"/></a>
   </div>
</div>
       
{% endblock content %}
