{% extends "ChassorAdminBundle::admin-layout.html.twig" %}
 
{% block body %}

<h1>Les chassors</h1>

<table class="table table-striped table-hover table-condensed table-bordered stupid">
<thead>
<tr>
    <th class="sort" data-sort="string">Pseudo</th>
    <th class="sort" data-sort="string">Email</th>
    <th class="sort" data-sort="int">Compte</th>
    <th class="sort" data-sort="int">Engimes</th>
    <th class="sort" data-sort="int">Résolues</th>
    <th class="sort" data-sort="int">Indices</th>
</tr>
</thead>
<tbody>
{% for chassor in liste %}
<tr>
    <td>{{ chassor[0].username }}</td>
    <td>{{ chassor[0].email }}</td>
    <td>{{ chassor[0].Compte }}</td>
    <td>{{ chassor.nb_enigmes }}</td>
    <td>{{ chassor.nb_valides }}</td>
    <td>{{ chassor.nb_indices }}</td>
</tr>
{% endfor %}
</tbody>
</table>
 
{% endblock %}
