{% extends "ChassorAdminBundle::admin-layout.html.twig" %}
 
{% block adminContent %}

<form action="{{ path('admin_mail_envoyer') }}" method="POST">
<p>{{ liste|length }} inscrits</p>
<table class="stupid">
<thead>
<tr>
    <th class="sort" data-sort="string">Id</th>
    <th class="sort" data-sort="string">Nom</th>
    <th class="sort" data-sort="string">Mail</th>
    <th class="sort" data-sort="string">Source</th>
    <th class="sort" data-sort="string">Parrain</th>
    <th class="sort" data-sort="date">Connexion</th>
    <th class="sort" data-sort="int">Compte</th>
    <th class="sort" data-sort="int">Engimes</th>
    <th class="sort" data-sort="int">Résolues</th>
    <th class="sort" data-sort="int">Tentatives</th>
    <th class="sort" data-sort="int">Indices</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for chassor in liste %}
<tr>
    <td>{{ chassor.id }}</td>
    <td>{{ chassor.prenom }} {{ chassor.nom }}</td>
    <td>{{ chassor.email }}</td>
    <td>{{ chassor.source }}</td>
    <td>{{ chassor.parrain }}</td>
    <td>{{ chassor.lastLogin|date("d/m H:i") }}
    <td>{{ chassor.compte }}</td>
    <td>{{ chassor.nbEnigmes }}</td>
    <td>{{ chassor.nbEnigmesValides }}</td>
    <td>{{ chassor.nbTentatives }}</td>
    <td>{{ chassor.nbIndices }}</td>
    <td><input type="checkbox" name="chassors[]" value="{{ chassor.id }}"></td>
</tr>
{% endfor %}
</tbody>
</table>
<div><select name="mail" class="myselect2">
    <option  value=""></option>
    {% for mail in mails %}
        <option value="{{ mail.id }}">{{ mail.sujet }}</option>
    {% endfor %}
</select></div>
<input type="submit" value="Mail" class="inputSubmit" />
</form>

{% endblock adminContent %}
