{% extends "ChassorAdminBundle::admin-layout.html.twig" %}
 
{% block body %}

<h1>Les énigmes</h1>
<a class="btn" href="{{ path('admin_enigme_ajouter') }}"><i class="icon-plus" title="ajouter"></i></a>

<table class="table table-striped table-hover table-condensed table-bordered stupid">
<thead>
<tr>
    <th class="sort" data-sort="string">Enigme</th>
    <th class="sort" data-sort="string">Titre</th>
    <th class="sort" data-sort="date"  >Date</th>
    <th                                >Commentaire</th>
    <th                                >Réponses</th>
    <th class="sort" data-sort="int"   >Délai</th>
    <th class="sort" data-sort="string">Difficulté</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for enigme in liste %}
<tr>
    <td>{{ enigme.code }}</td>
    <td>{{ enigme.titre }}</td>
    <td>{{ enigme.date|date("d/m") }}</td>
    <td>{{ enigme.commentaire|nl2br }}</td>
    <td>{{ enigme.reponses }}</td>
    <td>{{ enigme.delai }}</td>
    <td>{{ enigme.difficulte }}</td>
    <td>
        <a class="btn" href="{{ path('admin_enigme_modifier',  {'id': enigme.id }) }}"><i class="icon-pencil" title="modifier"></i></a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
 
{% endblock %}
