
{% block stats %}
<div id="chart{{ id }}" style="margin: auto; width: 1000px; height: 400px;"></div>
<script>
google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['{{ xLabel }}', '{{ yLabel }}' {% if zLabel is defined %} , '{{ zLabel }}' {% endif %} ],
          {% for lg in dataTable %}
              ['{{ lg.x }}',  {{ lg.y }} {% if zLabel is defined %} , {{ lg.z }} {% endif %}],
          {% endfor %}
        ]);

        var options = {
          title: '{{ titre }}'
        };

        var chart = new google.visualization.{{ type }}(document.getElementById('chart{{ id }}'));
        chart.draw(data, options);
      }
</script>
{% endblock stats %}


