{% extends "ChassorAdminBundle::admin-layout.html.twig" %}
 
{% block adminContent %}
<table class="table table-striped table-hover table-condensed table-bordered stupid">
<thead>
<tr>
    <th class="sort" data-sort="date">Date</th>
    <th class="sort" data-sort="string">Chassor</th>
    <th class="sort" data-sort="string">Libellé</th>
    <th class="sort" data-sort="float">Montant</th>
    <th class="sort" data-sort="string">Code</th>
    <th class="sort" data-sort="string">Etat</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{% for tr in liste %}
<tr>
    <td>{{ tr.date|date("d/m/Y H:i") }}</td>
    <td>{{ tr.chassor.prenom }} {{ tr.chassor.nom }}</td>
    <td>{{ tr.libelle }}</td>
    <td>{{ tr.montant }}</td>
    <td>{{ tr.code }}</td>
    {% if tr.etat == 0 %}
        <td>Validé</td>
    {% elseif tr.etat == 2 %}
        <td>En attente</td>
    {% elseif tr.etat == 3 %}
        <td>Manuelle</td>
    {% elseif tr.etat == 4 %}
        <td>Abandon</td>
    {% elseif tr.etat == -1 %}
        <td>Refusée</td>
    {% endif %}
    <td>
        <a href="{{ path('admin_transaction_valider',  {'id': tr.id, 'etat': 'V' }) }}">(V)</a>
        <a href="{{ path('admin_transaction_valider',  {'id': tr.id, 'etat': 'X' }) }}">(X)</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
 
{% endblock adminContent %}
