{% set bodyClass = 'red' %}
{%extends "ChassorCoreBundle::layout.html.twig" %}

{% block body %}
<div class="intro admin">
<ul>
    <li {% if app.request.attributes.get('_route') == 'admin_chassor_lister'  %}class="active"{% endif %}>
        <a href="{{ path('admin_chassor_lister')     }}">Les chassors</a></li>
    <li {% if app.request.attributes.get('_route') == 'admin_enigme_lister'  %}class="active"{% endif %}>
        <a href="{{ path('admin_enigme_lister')      }}">Les enigmes</a></li>
    <li {% if app.request.attributes.get('_route') == 'admin_tentative_lister'  %}class="active"{% endif %}>
        <a href="{{ path('admin_tentative_lister')      }}">Les tentatives</a></li>
    <li {% if app.request.attributes.get('_route') == 'admin_indice_lister'  %}class="active"{% endif %}>
        <a href="{{ path('admin_indice_lister')      }}">Les indices</a></li>
    <li {% if app.request.attributes.get('_route') == 'admin_transaction_lister'  %}class="active"{% endif %}>
        <a href="{{ path('admin_transaction_lister') }}">Les transactions</a></li>
    <li {% if app.request.attributes.get('_route') == 'admin_message_lister'  %}class="active"{% endif %}>
        <a href="{{ path('admin_message_lister')     }}">Les messages</a></li>
    <li {% if app.request.attributes.get('_route') == 'admin_mail_lister'  %}class="active"{% endif %}>
        <a href="{{ path('admin_mail_lister')     }}">Les mails</a></li>
</ul>
</div>

<div class="adminContent admin">
{% block adminContent %}
{% endblock adminContent %}
</div>
<div class="clearfix"></div>
{% endblock body %}

