{% set bodyClass = 'red' %}
{%extends "ChassorCoreBundle::layout.html.twig" %}

{% block body %}
<div class="redWrapper">
<div class="content">
<a href="{{ path('index') }}"><img src="{{ asset('bundles/chassorcore/img/home_logo_chassor.png') }}" class="logo" /></a>

{% block content %}
{% endblock content %}

</div></div>
<div class="clearfix"></div>

 <div class="footer">
<ul>
<li><a href="http://twitter.com/ChassorRouen" target="_blank"><img src="{{ asset('bundles/chassorcore/img/footer_twitter.png') }}" /></a></li>
<li><a href="http://www.facebook.com/chassor" target="_blank"><img src="{{ asset('bundles/chassorcore/img/footer_facebook.png') }}" /></a></li>
</ul>
<p>&copy; Chassor Rouen 2013 - Tous droits réservés
- <a href="{{ path('reglement') }}">Règlement</a>
- <a href="{{ path('partenaires') }}">Partenaires</a>
- <a href="mailto:contact@chassor.com">Contact</a></p>
</div>

{% endblock body %}
