<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Chassor{% endblock %}</title>

    <!-- les css -->
    {% stylesheets filter='cssrewrite'
        'bundles/chassorcore/bootstrap/bootstrap.css'
        'bundles/chassorcore/bootstrap/bootstrap-responsive.css'
        'bundles/chassorcore/css/*.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('index') }}">Chassor</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
               - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
              {% else %}
              <a href="{{ path('fos_user_security_login') }}">Connexion</a> - <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
              {% endif %}
            </p>
            <ul class="nav">
              {% if is_granted("ROLE_CHASSOR") %}
              <li class="divider-vertical"></li>
              <li {% if app.request.attributes.get('_route') == 'enigmes' %}class="active"{% endif %}><a href="{{ path('enigmes') }}">Mes enigmes</a></li>
              <li {% if app.request.attributes.get('_route') == 'banque'  %}class="active"{% endif %}><a href="{{ path('banque') }}">Ma banque</a></li>
              {% endif %}
              {% if is_granted("ROLE_ADMIN") %}
              <li class="divider-vertical"></li>
              <li {% if app.request.attributes.get('_route') == 'admin_chassor_lister'     %}class="active"{% endif %}><a href="{{ path('admin_chassor_lister')     }}">Les chassors</a></li>
              <li {% if app.request.attributes.get('_route') == 'admin_enigme_lister'      %}class="active"{% endif %}><a href="{{ path('admin_enigme_lister')      }}">Les enigmes</a></li>
              <li {% if app.request.attributes.get('_route') == 'admin_indice_lister'      %}class="active"{% endif %}><a href="{{ path('admin_indice_lister')      }}">Les indices</a></li>
              <li {% if app.request.attributes.get('_route') == 'admin_transaction_lister' %}class="active"{% endif %}><a href="{{ path('admin_transaction_lister') }}">Les transactions</a></li>
              {% endif %}
              <li class="divider-vertical"></li>
              <li {% if app.request.attributes.get('_route') == 'apropos' %}class="active"{% endif %}><a href="{{ path('apropos') }}">A propos</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div id="container" class="container">
    
        <div id="flash_msg"> <!-- les flash messages -->
        {% for type in ['info', 'notice', 'success', 'warning', 'error'] %}
        {% for message in app.session.flashbag.get(type) %}
        <div class="alert alert-{{ type }}">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}
        </div>
        
        {% block body %}
        {% endblock body %}
        
        
    </div>

    <!-- les js -->
    {# jQuery depuis le CDN de Google, ou fallback sur une copie locale #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bundles/chassorcore/jquery/jquery-1.9.1.min.js') }}"><\/script>')</script>
    
    {% javascripts
        'bundles/chassorcore/bootstrap/bootstrap.js'
        'bundles/chassorcore/js/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <!-- js de mise en page -->
    <script>
    $(document).ready(function() { $(".stupid").stupidtable(); });
    </script>

</body>    
</html>

