{% extends "ChassorCoreBundle::layout-user.html.twig" %}

{% block fos_user_content %}
<div class="redContent">
    <p>
        {{ app.user.username }}<br/>
        {{ app.user.email }}<br/>
        {{ app.user.prenom }} {{ app.user.nom }}<br/>
    </p>
    <a href="{{ path("fos_user_profile_edit") }}">Editer mon profil</a><br/>
    <a href="{{ path("fos_user_change_password") }}">Changer mon mot de passe</a>
</div>
{% endblock fos_user_content %}
