{%extends "ChassorCoreBundle::layout.html.twig" %}


{% block body %}
<h1>Ma banque</h1>

<div>
Acheter des PO <a href="#">ICI</a>
</div>

<div>
Mon historique
<table class="table table-hover table-condensed table-bordered">
<tbody>
{% set sum = 0 %}
{% for t in transactions %}
<tr 
{% if     t.etat == 0 %}
    {% set sum = sum + t.montant %}
    class="success">
{% elseif t.etat  > 0 %}
    class="warning">
{% elseif t.etat  < 0 %}
    class="error">
{% endif %}
    <td>{{ t.date|date("d/m/Y") }}</td>
    <td>{{ t.libelle }}</td>
    <td>{{ t.montant }}</td>
    
</tr>
{% endfor %}
</tbody>
<thead>
<tr>
    <th>Date</th>
    <th>Libellé</th>
    <th>Montant</th>
</tr>
<tr>
    <th>{{ "now"|date("d/m/Y") }}</th>
    <th>Total</th>
    <th>{{ sum }}</th>
</tr>
</thead>
</table>
</div>

{% endblock %}
