{% extends "ChassorAdminBundle::admin-layout.html.twig" %}
 
{% block adminContent %}

{% if app.request.query.get('enigme') is not null %}
    <a href="{{ path('admin_tentative_lister', { 'chassor':  app.request.query.get('chassor') }) }}">
    (X) Enigme</a><br/>
{% endif %}
{% if app.request.query.get('chassor') is not null %}
    <a href="{{ path('admin_tentative_lister', { 'enigme':  app.request.query.get('enigme') }) }}">
    (X) Chassor</a><br/>
{% endif %}

<p>{{ liste|length }} tentatives</p>
<table class="stupid">
<thead>
<tr>
    <th class="sort" data-sort="date">Date</th>
    <th class="sort" data-sort="string">Chassor</th>
    <th class="sort" data-sort="string">Enigme</th>
    <th class="sort" data-sort="string">Reponse</th>
    <th class="sort" data-sort="integer">Tentative</th>
    <th class="sort" data-sort="string">Valide</th>
</tr>
</thead>
<tbody>
{% for tr in liste %}
<tr>
    <td>{{ tr.date|date("d/m/Y H:i") }}</td>
    <td><a href="{{ path('admin_tentative_lister',
                        { 'chassor': tr.chassor.id,
                          'enigme':  app.request.query.get('enigme')  }) }}">
        {{ tr.chassor.nomComplet }}
        </a></td>
    <td><a href="{{ path('admin_tentative_lister',
                        { 'chassor': app.request.query.get('chassor'),
                          'enigme':  tr.enigme.id  }) }}">
        {{ tr.enigme.codeInterne2 }}
        </a></td>
    <td>{{ tr.reponse }}</td>
    <td>{{ tr.tentative }}</td>
    {% if tr.valide == 1 %}
        <td>OK</td>
    {% else %}
        <td>Boulet 
        <a href="{{ path('admin_tentative_valider',  {'idT': tr.id, 'idE': tr.enigme.id, 'idC': tr.chassor.id }) }}">(V)</a></td>
    {% endif %}
    
</tr>
{% endfor %}
</tbody>
</table>
 
{% endblock adminContent %}

